* {
	padding: 0px;
	margin: 0px;
}

.a {
	background: no-repeat;
	width: 100%;
	height: 200px;

}

#div_top {
	background-color: #1f1f1f;
	width: 100%;
	height: 30px;
}

#div_top img {
	margin-left: 25%;
	height: 30px;
}


.logo1 {
	float: left;
	height: 25px;

}


#zhongDH {
	background-color: #fafafa;
	width: 100%;
	height: 50px;
	font-size: 14px;
	z-index: 999;
}

#zhongDH a {
	display: inline-block;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	height: 47px;
	line-height: 47px;
	padding: 0 15px;
	color: #000;
	text-decoration: none;

}



#bg_img {
	background: no-repeat;
	width: 100%;
	height: 200px;

	background-image: url(../img/dv4e9f683879b12dbdf6c1e9c24c9f228.jpg);
	background-size: 100% 210px;
}

#bg_img1 {
	width: 120px;
	height: 120px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin-left: 200px;
	margin-top: 110px;
	border: 1px solid #BFBFBF;

}

#bg_img2 {
	height: 80px;
	width: 350px;
	margin-bottom: 35px;
}

#bg_txt {
	float: right;
	margin-top: 110px;
	margin-left: 30px;
	color: #ffffff;
}

#zhongDH2 a {
	display: inline-block;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 4px;
	line-height: 50px;
	padding: 0 10px;
	color: #000;
	text-decoration: none;
	font-size: 10px;
}

#zhongDH2 {
	float: left;
	background-color: #ffffff;
	padding: 8px 40px;
	width: 95px;
	margin-left: 13%;
	;
}

#zhongDH1 {
	background-color: #f6f6f6;
	/* 解决盒子浮动塌陷问题 */
    overflow: hidden;
	width: 100%;
	padding-top: 20px;
}

#zhongDH1 ul li:first-child {
	color: #f6f6f6;
}

#zhongNR {
	float: left;
	
	width: 700px;
	height: 100%;
	margin-left: 20px;
}

#diBuBanQuan{
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	padding-top: 25px;
	font-size: 12px;
	
}
#zhongNR img{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
#diBuBanQuan p{
    clear: both;
    text-align: center;

}
#diBuBanQuan a{
	color: #000;
	text-decoration: none;
}body {
	background-color:whitesmoke;
	}     
	/* // 修改背景颜色为半透明 */
	
	
	#home,#sideBarMain>div,#blog-sidecolumn>div>div,.catListView{
	background-color:rgba(255,255,255,0);
	}  
	/* // 修改其他边框的颜色 */